<h1>egoseartter</h1>

<% if current_user %>
  <%= form_tag search_path do %>
    <%= text_field_tag :word %>
    <%= submit_tag 'エゴサする' %>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
  <p>通常の検索したものをあなたのフォロワーでフィルタリングしたものを表示します</p>
  <p>検索ワードでの結果100件をフォロワーでフィルタリングするため、その100件にフォロワーのツイートが含まれない場合結果は0件となります</p>
